input(id='name', name='name', placeholder='Name', value='#{post.name}')
input(id='desc', name='desc', placeholder='Desc', value='#{post.desc}')
input(type='submit', value=submit)
a(href='/')
  input(type='button', value='Cancel')
